form {
  display: grid;
  gap: 2.5rem;
  max-width: 20rem;
}

#header-form {
  & h2 {
    font: var(--label-md);
    color: var(--content-primary);
  }
  
  & p {
    font: var(--pg-md);
    color: var(--content-tertiary);
  }
}

@media (width >= 80em) {
  form {
    max-width: 30.1rem;
  }

  #header-form {
    & p {
      font: var(--pg-lg);
    }
  }
}