#questions {
  display: grid;
  gap: 2.25rem;
  margin-bottom: 3rem;

  & h3 {
    display: flex;
    align-items: center;
    gap: .5rem;

    font: var(--pg-md);
    color: var(--content-brand);

    & img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  & p {
    /* 1.25rem da img + 0.5rem do gap*/
    margin-left: 1.75rem;
  }
}

@media (width >=80em) {
  #questions {
    margin-bottom: 0;
  }
}